body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(3, 30, 54);
    //width:100%;
    //height:100%;
    //display:grid;
    //place-items: center;
}

.estudasd {
    //background-color: rgb(1, 81, 146);
    background: linear-gradient(to bottom, rgb(1, 81, 146), rgb(1, 42, 77));
    border: 5px solid black;
    border-radius: 40px;
    box-shadow: 3px 3px 100px black;
    width: 600px;
    height: 320px;
    margin: auto;
    margin-top: 50vh;
    transform: translateY(-50%);

    text-align: center;

    //Try to align it with grid

    p{

    }

    .clicks{
        margin-top: 10px;
        span{
            //padding-top:5px;
            

            color:rgb(243, 243, 243);
            font-weight: bold;
            font-size: 45px;
            font-family:monospace;
    
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
         
            /*
              Introduced in IE 10.
              See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
            */
            -ms-user-select: none;
            user-select: none;
            
    
            &:hover {
                cursor: pointer;
            }
        }

    }
    .hoy{
        span{
            padding-top:5px;
            display:none;

            color:rgb(243, 243, 243);
            font-weight: bold;
            font-size: 25px;
            font-family:monospace;
    
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
         
            /*
              Introduced in IE 10.
              See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
            */
            -ms-user-select: none;
            user-select: none;
    
            &:hover {
                cursor: pointer;
                
                //color:white;
                //transition: 0.3s;
            }
        }
    }
    button{
        position: absolute;
        transform: translateX(-50%);
        bottom: 15px;

        background-color: #073109;
        border: none;
        color: rgb(196, 196, 196);
        font-weight: bold;
        padding: 5px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;

        &:hover{
            color:white;
            background-color: #09410c;
            transition: 0.3s;
        }
    }
}

@media all and (max-width: 724px){
    body{
        //background-color: red;
    }
}