body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #031e36;
}

.bankbox {
  background: -webkit-gradient(linear, left top, left bottom, from(#015192), to(#012a4d));
  background: linear-gradient(to bottom, #015192, #012a4d);
  border: 5px solid black;
  border-radius: 40px;
  -webkit-box-shadow: 3px 3px 100px black;
          box-shadow: 3px 3px 100px black;
  width: 600px;
  height: 320px;
  margin: auto;
  margin-top: 50vh;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
}

.bankbox .clicks {
  margin-top: 10px;
}

.bankbox .clicks .firsthover_r:hover {
  -webkit-transition: 0.05s all ease;
  transition: 0.05s all ease;
  color: red;
  font-size: 50px;
}

.bankbox .clicks .firsthover_b:hover {
  -webkit-transition: 0.05s all ease;
  transition: 0.05s all ease;
  color: #b1faff;
  font-size: 50px;
}

.bankbox .clicks span {
  color: #f3f3f3;
  font-weight: bold;
  font-size: 45px;
  font-family: monospace;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /*
              Introduced in IE 10.
              See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
            */
  display: inline-block;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.bankbox .clicks span:hover {
  -webkit-transform: rotate(-1.5deg) scale(1.03, 1.03);
          transform: rotate(-1.5deg) scale(1.03, 1.03);
  cursor: pointer;
  color: #fff;
  text-shadow: 2px 2px 5px #000000;
}

.bankbox .hoy .firsthover_s_r:hover {
  -webkit-transition: 0.05s all ease;
  transition: 0.05s all ease;
  color: red;
  font-size: 30px;
}

.bankbox .hoy .firsthover_s_b:hover {
  -webkit-transition: 0.05s all ease;
  transition: 0.05s all ease;
  color: #b1faff;
  font-size: 30px;
}

.bankbox .hoy span {
  padding-top: 5px;
  display: none;
  color: #f3f3f3;
  font-weight: bold;
  font-size: 25px;
  font-family: monospace;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.bankbox .hoy span:hover {
  -webkit-transform: rotate(-1.5deg) scale(1.03, 1.03);
          transform: rotate(-1.5deg) scale(1.03, 1.03);
  cursor: pointer;
  color: #fff;
  text-shadow: 1px 1px 5px #000000;
}

.bankbox button {
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 15px;
  background-color: #073109;
  border: none;
  color: #c4c4c4;
  font-weight: bold;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.bankbox button:hover {
  color: white;
  background-color: #09410c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.anim {
  -webkit-animation: pulse 2s normal;
          animation: pulse 2s normal;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    opacity: 0;
  }
  45% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    color: orange;
    text-shadow: 10px 10px 5px #000000;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    color: white;
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    opacity: 0;
  }
  45% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    color: orange;
    text-shadow: 10px 10px 5px #000000;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    color: white;
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */